form{
    position: relative;
    z-index: 2;
    padding: 20px;
}

.input-group{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
  
.input-group label{
    margin-right: 10px;
    width: 120px;
    text-align: right;
}
  
.input-group input{
    flex: 1;
}
  
h2{
    position: relative;
    z-index: 2;
    margin-left: 7rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.formu { 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 400px; 
    width: 90%; 
}

.panal-superior-derecho,
.panal-inferior-izquierdo {
    position: absolute;
    width: 700px;
    height: auto;
}

.panal-superior-derecho{
    bottom: 0;
    left: 0;
}

.panal-inferior-izquierdo{
    top: 0;
    right: 0;
}
