.footer{
    color: #333;
    padding: 20px 20px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
}
  
footer p{
    margin: 0;
}
  
.footer-links{
    margin-top: 10px;
}
  
.footer-links a{
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}
  
.footer-links a:hover{
    text-decoration: underline;
}
  