body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.main {
    width: 50%;
    background-color: #686666;
    padding: 10rem;
    margin-top: 60px; 
    z-index: 0
}*/

.nav{
    display: inline-block;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li{
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

/*Animaci칩n que se va a ejecutar al acceder a la p치gina*/
@keyframes jump{
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /*Primer salto*/
    }
    75% {
      transform: translateY(-10px); /*Segundo salto*/
    }
    100% {
      transform: translateY(0); /*Vuelta a la posici칩n original*/
    }
}
  
.jump-animation {
    animation: jump 0.4s ease 3; /*Esto hace que la animaci칩n se repita 3 veces (de tres saltos)*/
}

.login-container{
    width: 100%;
    max-width: 400px; 
    background-color: #a75716;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.login-header{
    text-align: center;
    margin-bottom: 20px;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-input{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-input-container{
    display: flex;
    align-items: center;
}

.login-input-label{
    flex: 1; 
    margin-right: 10px; 
}

.login-button{
    background-color: #333;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover{
    background-color: #000000;
}

.panal-superior-derecho{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 700px;
    height: auto;
    z-index: 0;
}

.panal-inferior-izquierdo{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: auto;
    z-index: 0;
}







