body{
    font-family: Arial, sans-serif;
}
  
.main {
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c0bcbc; 
    border-radius: 10px; 
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5); 
    padding: 20px; 
}
  
h1{
    color: #3e3e3e;
    position: relative;
    z-index: 2;
    margin-left: 7rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@keyframes jump{
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); 
    }
    75% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
}
  
.jump-animation {
    animation: jump 0.4s ease 3; 
}
  
.button4{
    background-color: #ffcc00; 
    color: #3e3e3e; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 50px;
}
  
.button4:hover{
    background-color: #ffdb4d; 
}
  
.add-button{
    margin-bottom: 20px;
}
  
.space{
    font-size: 24px;
    color: #3e3e3e; 
    position: relative;
    z-index: 2;
    margin-left: 7rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
  
.proyecto{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dad9d9;
    align-items: center;
    margin-bottom: 20px;
    max-width: 99%;
}
  
.nombre-proyecto{
    flex-grow: 1;
    font-size: 18px;
    color: #3e3e3e;
}
  
.ed-button{
    display: flex;
    gap: 10px;
}

.espacio{
    width: 30rem;
}
  
.ed-button .button{
    background-color: #e68a00; 
}
  
.ed-button .button:hover{
    background-color: #fac473; 
}

.custom-orange-button{
    color: #fff; 
    background-color: #ff9800; 
    border-color: #ff9800; 
    margin-right: 3.5rem;
    margin-top: 20px;
}
  
.custom-orange-button:hover{
    background-color: #f57c00; 
    border-color: #f57c00; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

.toggle-label{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.toggle-label input{
    display: none;
}
  
.toggle-button{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 30rem;
    width: 40px;
    height: 20px;
    background-color: #747171;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
  
.toggle-label input:checked + .toggle-button{
    background-color: #ff9800;
}
  
.toggle-text{
    margin-left: 50px;
    color: #333;
}

.proyectos-container{
    min-height: 300px; 
    overflow-y: auto; 
}
  
  
  